@import url('reset.css');

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* GLOBAL CLASSES */
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.3;
	font-size: 14px;
	color: #212121;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* HEADER */

.header {
	border: 1px solid #ECECEC;
	padding: 25px 0;
	font-weight: 500;
	letter-spacing: 0.3px;
}

.header-container {
	display: flex;
	align-items: center;
}



.header-menu {
	display: flex;
	gap: 50px;
	margin-left: 90px;
}

.header-menu a.active {
	color: #2196F3;
}

.header-second-menu {
	margin-left: auto;
	display: flex;
	gap: 50px;
}

.header-menu a,
.header-second-menu a {
	color: #757575;
	text-decoration: none;
}

.header-menu a:hover,
.header-second-menu a:hover {
	color: #2196F3;
}


/* HERO SECTION */

.hero {
	background: #2F303A;
	text-align: center;
	letter-spacing: 2.6px;
}

.hero-inner {
	max-width: 700px;
	min-height: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 5px;
}

.hero-btn {
	padding: 14px 46px 15px;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	background: #2196F3;
	border-radius: 4px;
	cursor: pointer;
	align-self: center;
}




/* ABOUT */

.about {
	margin-top: 94px;
	letter-spacing: 0.4px;
}

.about ul {
	display: flex;
	gap: 30px;
}

.about li {
	flex: 1.1 20%;
}

.about h3 {
	font-weight: 700;
	text-transform: uppercase;

}

.about p {
	color: #757575;
	margin-top: 10px;
	font-weight: 400;
	line-height: 1.7;

}

/* DO */

.do {
	padding: 94px 0;
	text-align: center;
}

.do-title {
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 1.1px;
}

.do-cards {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

.do-cards img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.do-card {
	height: 294px;
	flex: 1 1 30%;
	position: relative;
}

.do-card-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	text-align: center;
	background: rgba(0, 0, 0, .6);
	padding: 27px 100px;
	font-weight: 700;
	text-transform: uppercase;
}


/* TEAMS */
.team {
	background: #F5F4FA;
	padding: 94px 0;
	text-align: center;
	letter-spacing: 0.5px;
}

.team-title {
	font-weight: 700;
	font-size: 36px;
}

.team-cards {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}


.team-card {
	flex: 1 1 20%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 14px 0 #ccc;
}

.team-card-link {
	display: block;
	height: 260px;
}

.team-card-link img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.team-card-inner {
	padding: 30px;
	font-size: 16px;
	background: #fff;
}

.team-card-title {
	font-weight: 500;
}

.team-card-desc {
	color: #757575;
	margin-top: 10px;
}

.footer {
	background: #2F303A;
	padding: 60px 0;
	text-align: left;
	letter-spacing: 0.8px;
}

.footer-logo {
	display: inline-block;
}

.footer-contacts {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 9px;
	align-items: flex-start;
}

.footer-contacts a {
	text-decoration: none;
	color: #FFFFFF;
	opacity: 0.6;
}



.footer-contacts a:hover {
	color: #FFFFFF;
	opacity: 1;
}

/* PORTFOLIO */

.portfolio-container {
	margin: 94px auto;
}

.portfolio-menu {
	display: flex;
	gap: 8px;
	margin: 94px auto 34px;
	font-size: 16px;
	font-weight: 500;
	justify-content: center;
}

.portfolio-menu a {
	text-decoration: none;
	color: #212121;
	padding: 6px 25px;
}

.portfolio-menu a:hover {
	background: #2196F3;
	color: #fff;
	border-radius: 4px;
}

.portfolio-menu a.active {
	background: #2196F3;
	color: #fff;
	border-radius: 4px;
}

.portfolio-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	padding: 20px 0;
}

.portfolio-item {
	flex: 1 1 30%;
	border: 1px solid #EEEEEE;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item:hover {
	transform: translateY(-5px);
}

.portfolio-link {
	display: block;
	text-decoration: none;
}

.portfolio-item img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.portfolio-info {
	margin: 20px 24px;
	text-align: left;
}

.prt-title {
	font-size: 18px;
	font-weight: 700;
	color: #212121;
}

.prt-text {
	font-size: 16px;
	font-weight: 400;
	color: #757575;
	margin-top: 4px;
	line-height: 30px;
}

.portfolio-card {
	flex: 1 1 30%;
	position: relative;
}

.portfolio-card-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	background: rgba(33, 150, 243, 0.9);
	font-weight: 400;
	font-size: 18px;
	width: 100%;
	height: 100%;
	padding: 63px 24px;
	align-content: center;
	opacity: 0;
	transition: opacity 0.4s ease, transform 0.4s ease;
}

.portfolio-card:hover .portfolio-card-title {
	opacity: 1;
	transform: translateY(0);
}